In [1]:
import pandas as pd
import numpy as np

#pd.set_option("display.max_rows", None)   # 모든 행 출력
pd.set_option("display.max_columns", None)  # 모든 열 출력
#pd.set_option("display.width", None)     # 줄바꿈 없이 넓게 출력
#pd.set_option("display.max_colwidth", None)  # 셀 안의 긴 내용도 다 출력

### 데이터 불러오기

In [24]:
import pandas as pd

ive_ads_list = pd.read_csv('IVE_광고목록.csv')

ive_ads_list.head(3)

/var/folders/vr/q6052k192l5b8zc1yrwpz_fw0000gn/T/ipykernel_87228/3496535568.py:3: DtypeWarning: Columns (12,13,19) have mixed types. Specify dtype option on import or set low_memory=False.
  ive_ads_list = pd.read_csv('IVE_광고목록.csv')

,ads_idx,ads_code,aff_idx,adv_idx,sch_idx,ads_type,ads_category,ads_name,ads_search,ads_icon_img,ads_summary,ads_guide,ads_limit,ads_payment,ads_save_way,ads_day_cap,ads_sdate,ads_edate,ads_package,ads_sex_type,ads_age_min,ads_age_max,ads_os_type,ads_contract_price,ads_reward_price,ads_order,ads_rejoin_type,ads_require_adid,regdate,delyn
0,160,tr71opm6C1,6,10,13604,1,1,리니지레드나이츠,"리니지레드나이츠,com.ncsoft.redknights,ecaab3f9d2616f6...",https://lh3.googleusercontent.com/oDGXxngO9oOP...,[앱설명]<br />[설치형] 매력만점 영웅들과 소환수들이 함께하는 취향저격 RPG...,참여 완료시점까지 완료 후 리워드 지급까지는 최대 10분 가량 지연될 수 있습니다....,NaN,NaN,받기,N,2016-12-01 00:00:00,9999-12-31 23:59:59,com.ncsoft.redknights,NaN,0,100,2,170,150,982800,NONE,Y,2017-04-06 13:19:53,N
1,284,xlNpfkgtLX,6,10,13605,1,1,강철의함대:Ocean Overlord,"강철의함대:Ocean Overlord,com.gamepub.lw.g,a370ab70...",http://nextapps-nas.aws.appang.kr/icon/2016122...,"[앱설명]<br />[설치형] 한, 중, 일 아시아 유저들과 함께 대규모 해상 전투...",참여 완료시점까지 완료 후 리워드 지급까지는 최대 10분 가량 지연될 수 있습니다....,NaN,NaN,받기,N,2016-12-29 00:00:00,9999-12-31 23:59:59,com.gamepub.lw.g,NaN,0,100,2,180,160,987200,NONE,Y,2017-01-10 10:37:22,N
2,292,7Hj8V5QKiy,6,10,13606,1,1,스노우 SNOW,"스노우 SNOW,com.campmobile.snow,5b892d7e0cff73621...",http://nextapps-nas.aws.appang.kr/icon/2016092...,"[앱설명]<br />[설치형] 셀카, 얼굴인식 스티커, 꿀잼 카메라<br /><br...",참여 완료시점까지 완료 후 리워드 지급까지는 최대 10분 가량 지연될 수 있습니다....,NaN,NaN,받기,N,2016-12-29 00:00:00,9999-12-31 23:59:59,com.campmobile.snow,NaN,0,100,2,160,160,987300,NONE,Y,2017-01-02 12:51:34,N

In [5]:
import pandas as pd

ive_ads_accrual = pd.read_csv('IVE_광고적립.csv', index_col=0)

ive_ads_accrual

,rwd_idx,ads_idx,ads_code,mda_idx,pub_sub_rel_id,dvc_idx,advid,click_key,show_cost,adv_cost,rwd_cost,earn_cost,click_date,regdate,ctit
0,238304818,413490,CFZ6lzEmeD,22,27496512,32947806,09b6a808-4f76-4584-87c5-626f21f472a0,b0e22dba943810794d25c993dff425c4e16d0744,190,190,120,120,2025-07-26 00:00:31,2025-07-26 00:05:02,271
1,238304829,413490,CFZ6lzEmeD,22,27496512,47387244,ba4fd0c8-4f06-4dfa-9c3f-c6b39ee7066e,0679ff4c6a14beba296e44d7ffdd88129f42ffbf,190,190,120,120,2025-07-26 00:00:32,2025-07-26 00:08:17,465
2,238304816,413490,CFZ6lzEmeD,22,27496512,32425124,64c675d0-8edd-4478-9906-a806651fdf92,68eb28d636724061da21e490a1afff6a39cd78f7,190,190,120,120,2025-07-26 00:00:42,2025-07-26 00:04:43,241
3,238304817,413490,CFZ6lzEmeD,22,27496513,34006545,a08ebb04-e70a-4492-89d4-17fa96bf8c75,37da42f12b6f732d8c8bf1a609c01e569b7f8a09,190,190,120,120,2025-07-26 00:00:54,2025-07-26 00:04:45,231
4,238304802,133653,rl8ud4uNQC,801,1,56867331,dbe54f40-41b5-4423-ae2f-048fd6ecf5af,624b1bbc57c9ea81005c74e1956d48e76d974816,260,260,97,195,2025-07-26 00:01:07,2025-07-26 00:02:04,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475026,239780599,356956,1UNE1La9yv,270,1,35431157,56296bc1-c155-4fa7-9888-72b195653deb,3dc358e1a2b6a3480ba45dc65f81a308bc6c5e70,10,5,3,3,2025-08-25 11:32:34,2025-08-25 11:32:44,10
1475027,239780621,445907,0gEJGntDo3,794,1,62076634,d46f85a9-e8e0-4017-8354-e93b0ffc5ffe,d3a189157fc1c3b458b44e485a38ad544b89402d,170,170,15,30,2025-08-25 11:32:37,2025-08-25 11:34:29,112
1475028,239780617,446855,yrwq08KCov,563,1,60605730,666272a3-4181-4635-84e7-de1df1008ace,c752e95c5a236c8799cbcf4dc516b7e09e1afda7,18,18,14,14,2025-08-25 11:32:47,2025-08-25 11:33:55,68
1475029,239780609,446837,2hznDD8Yx3,371,1,46271340,c91a2823-8a33-4d36-8900-966448fd0e56,4dc015e177c38a9d2d0cf65d2b2e146e79352683,13,13,9,9,2025-08-25 11:33:07,2025-08-25 11:33:15,8
1475030,239780612,356956,1UNE1La9yv,270,1,61667811,729dcecc-2369-4ead-88f4-0e8544c5e63f,ffbad59341e1268406e2e45f18dac5b7ee21a4e1,10,5,3,3,2025-08-25 11:33:22,2025-08-25 11:33:36,14

In [3]:
import pandas as pd

ive_join_info = pd.read_csv('IVE_광고참여정보.csv', index_col=0)

ive_join_info

,click_key,ads_idx,dvc_idx,mda_idx,pub_sub_rel_id,adv_price,contract_price,media_price,reward_price,reward_point,click_day,click_time,click_date,exp_day,network,carrier,user_ip
0,000000d54b9faad47ee99d6cd3cf53894dd4baa5,313780,61906528,539,144350110,6000,6000,4500,4500,4500,2025-08-17,21,2025-08-17 21:07:37,2025-09-16,0,NaN,16.184.28.219
1,000002b4d92f7648b455877c2676452efcd22a09,412426,34422806,58,46032732,180,180,170,170,170,2025-07-26,2,2025-07-26 02:18:24,2025-08-25,NaN,NaN,35.78.117.76
2,0000057e97361ff3d0263aaecee34cfaa3ba30fb,443660,38366075,808,1,170,170,120,60,60,2025-08-12,18,2025-08-12 18:17:59,2025-09-11,WIFI,SKTelecom,39.7.55.192
3,00000607f60139015da3ee1dd5499db3faa100dc,360192,61894110,539,144350110,6000,6000,4500,4500,4500,2025-08-17,3,2025-08-17 03:35:02,2025-09-16,0,NaN,211.252.100.157
4,0000066bc25d4a6d147c27326cf972a4de88024e,372307,61956954,539,144350110,15600,15600,11700,11700,11700,2025-08-18,8,2025-08-18 08:01:26,2025-09-17,0,NaN,3.38.148.211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16854860,fffff9f3a33b1596ae3216eaee20a9fe383b4778,264409,37945741,539,144350110,5400,5400,3800,3800,3800,2025-08-16,23,2025-08-16 23:57:32,2025-09-15,0,NaN,122.32.24.115
16854861,fffffb2a049908716493ba68a0754633949a9e02,369816,57367216,539,144350110,3600,3600,2700,2700,2700,2025-08-18,15,2025-08-18 15:16:57,2025-09-17,0,NaN,13.125.212.103
16854862,fffffc10523f96c3a470ef1c9ad6b930cb5d27b5,444350,61242190,58,33306660,180,180,170,170,170,2025-08-20,1,2025-08-20 01:02:48,2025-09-19,NaN,NaN,43.206.110.22
16854863,fffffcdccdba2775b47c2f01b9659decad98419f,360192,61903879,539,144350110,6000,6000,4500,4500,4500,2025-08-15,12,2025-08-15 12:04:56,2025-09-14,0,NaN,115.40.102.142
16854864,fffffe5c90e781402459cf5fb150694d98f1065c,388989,60152442,539,144350110,24000,24000,16000,16000,16000,2025-08-17,19,2025-08-17 19:41:21,2025-09-16,0,NaN,175.123.215.137

In [7]:
import pandas as pd

ive_time_report = pd.read_csv('IVE_시간별_적립_보고서.csv')

ive_time_report

,rpt_time_date,rpt_time_time,ads_idx,mda_idx,rpt_time_clk,rpt_time_turn,rpt_time_scost,rpt_time_acost,rpt_time_cost,rpt_time_earn
0,2025-07-27,0,11059,398,5,0,0,0,0,0
1,2025-07-27,0,13209,583,3,0,0,0,0,0
2,2025-07-27,0,13928,303,3,3,510,510,360,360
3,2025-07-27,0,13928,324,3,3,510,510,180,360
4,2025-07-27,0,13928,340,6,6,1020,1020,360,720
...,...,...,...,...,...,...,...,...,...,...
279911,2025-08-25,11,446855,563,15,2,36,36,28,28
279912,2025-08-25,11,446902,270,1,0,0,0,0,0
279913,2025-08-25,11,446909,562,3,2,36,36,28,28
279914,2025-08-25,11,446909,563,51,7,126,126,98,98
279915,2025-08-25,11,446917,270,1,0,0,0,0,0

### 데이터 탐색

In [ ]:
ive_join_info["dvc_idx"]

In [8]:
ive_time_report.isnull().sum()

rpt_time_date     0
rpt_time_time     0
ads_idx           0
mda_idx           0
rpt_time_clk      0
rpt_time_turn     0
rpt_time_scost    0
rpt_time_acost    0
rpt_time_cost     0
rpt_time_earn     0
dtype: int64

In [5]:
ive_join_info['pub_sub_rel_id'].value_counts()

pub_sub_rel_id
144350110    13434332
1             1492832
11082141       443762
116659788      110606
44614214       106101
               ...
144677114           1
144678270           1
144681144           1
144599472           1
144677908           1
Name: count, Length: 7838, dtype: int64

In [8]:
ive_join_info.sort_values(by='dvc_idx', ascending=True)

,click_key,ads_idx,dvc_idx,mda_idx,pub_sub_rel_id,adv_price,contract_price,media_price,reward_price,reward_point,click_day,click_time,click_date,exp_day,network,carrier,user_ip
9094610,8a372fcaf84b05cf848132c29310f025a3329360,444244,0,654,144677810,2000,2000,1000,1000,1000,2025-08-14,17,2025-08-14 17:25:56,2025-09-13,MOBILE,NaN,211.235.82.229
4802811,48fc62d3e3472e17878d4c2deb80cc8668d20fde,127907,0,980,1,2904,2904,100,100,10000,2025-08-03,12,2025-08-03 12:43:30,2025-09-02,NaN,NaN,54.145.141.99
9622411,923973388f6f3b4fb20bd0fd10b4cfcf96529168,444244,0,654,144677810,2000,2000,1000,1000,1000,2025-08-15,9,2025-08-15 09:03:53,2025-09-14,MOBILE,NaN,211.234.201.252
5652795,55e9f74c48262afa83f8ca38055c29af75af5cf1,429487,0,980,1,252560,252560,10200,10200,1020000,2025-08-03,21,2025-08-03 21:42:41,2025-09-02,NaN,NaN,3.9.19.74
5389910,51e95414d0591ce3c8999093054230f0f8e7886a,127908,0,980,1,85800,85800,3400,3400,680000,2025-07-27,19,2025-07-27 19:56:39,2025-08-26,NaN,NaN,13.209.13.101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13323051,ca64890f331fcca02a0105a3191bc901afae0ba2,440167,62076580,795,1,260,260,200,100,100,2025-08-25,11,2025-08-25 11:22:27,2025-09-24,WIFI,LGU+,175.223.34.33
15201528,e6ea24f8f56c41e944eac482b09611c6757e4c93,440167,62076581,324,1,260,260,200,100,100,2025-08-25,11,2025-08-25 11:22:33,2025-09-24,WIFI,SKTelecom,175.223.49.180
13872097,d2b80cccad29fb1261426eb5f94774981ec4411c,446909,62076582,563,1,18,18,14,14,14,2025-08-25,11,2025-08-25 11:22:27,2025-09-24,NaN,NaN,175.126.208.146
15691602,ee5f4006910565e538960247d50dee214171972c,440167,62076584,340,1,260,260,200,100,100,2025-08-25,11,2025-08-25 11:23:00,2025-09-24,WIFI,SKTelecom,110.70.55.52
5544982,5446d164588b56e378bff3a97bd6c4283279b611,440167,62076585,850,1,260,260,200,100,100,2025-08-25,11,2025-08-25 11:23:52,2025-09-24,WIFI,SKTelecom,117.111.5.235

In [12]:
# 두 컬럼이 일치하는 행의 불리언 시리즈 생성
matches = (ive_join_info['adv_price'] != ive_join_info['contract_price'])

# True 값의 개수를 세어 일치하는 행의 개수 구하기
match_count = matches.sum()

print("\n'adv_price' 컬럼과 'contract_price' 컬럼이 일치하지 않는 행의 개수:", match_count)

'adv_price' 컬럼과 'contract_price' 컬럼이 일치하지 않는 행의 개수: 86845

In [4]:
ive_join_info['click_day'] = pd.to_datetime(ive_join_info['click_day'])
ive_join_info['exp_day'] = pd.to_datetime(ive_join_info['exp_day'])
diff = ive_join_info['exp_day'] - ive_join_info['click_day']
diff.value_counts()

30 days    16854865
Name: count, dtype: int64

### user_ip를 이용하여 국가, 지역, 통신사 알아내기

In [22]:
# 나라명, 지역명
import geoip2.database
from tqdm import tqdm

reader1 = geoip2.database.Reader('GeoLite2-City.mmdb')

countries = []
cities = []

for ip in tqdm(ive_join_info['user_ip']):
    if pd.isna(ip):
        countries.append(None)
        cities.append(None)

    else:
        try:
            response = reader1.city(str(ip))
            countries.append(response.country.iso_code)
            cities.append(response.city.name)
        except Exception:
            countries.append(None)
            cities.append(None)

ive_join_info['country'] = countries
ive_join_info['city'] = cities

100%|██████████| 16854865/16854865 [04:04<00:00, 69050.65it/s]

In [ ]:
# 통신사
reader = geoip2.database.Reader("GeoLite2-ASN.mmdb")

carriers = []

for ip in tqdm(ive_join_info['user_ip']):
    if pd.isna(ip):
        carriers.append(None)
    
    else:
        try:
            response = reader.asn(str(ip))
            carriers.append(response.autonomous_system_organization)
        except Exception:
            carriers.append(None)

ive_join_info['carrier_1'] = carriers

In [23]:
ive_join_info.isnull().sum()

click_key                0
ads_idx                  0
dvc_idx                  0
mda_idx                  0
pub_sub_rel_id           0
adv_price                0
contract_price           0
media_price              0
reward_price             0
reward_point             0
click_day                0
click_time               0
click_date               0
exp_day                  0
network            2501362
carrier           16142921
user_ip                  9
country               3535
carrier_1             3625
city                473412
dtype: int64